@import './variables/variables_light.scss';
@import './variables/variables_dark.scss';
@import './variables/variables_contrast.scss';

// color variable map
$colors_scheme: (
    light: $light,
    dark: $dark,
    contrast: $contrast
) !default;

$colors_base: $colors_light;
$colors_opposed: $colors_opposed_light;
$colors_config: $colors_config_light;
